.card {
  position: relative;
  width: 100%;
  max-width: 282px;
  height: 100%;
  min-height: 361px;
  max-height: 361px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.card__remove-icon_hidden {
  visibility: hidden;
}
.card__remove-icon {
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}
.card__remove-icon:hover {
  opacity: 0.5;
}
.card__image {
  cursor: pointer;
  width: 100%;
  max-width: 282px;
  height: 78%;
  max-height: 282px;
}
.card__description {
  width: 100%;
  max-width: 246px;
  height: 6%;
  max-height: 23px;
  margin: 25px auto 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  margin: 0 10px 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card__like-container {
  width: 100%;
  max-width: 21px;
  max-height: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__like {
  cursor: pointer;
  width: 100%;
  max-width: 21px;
  height: 80%;
  max-height: 19px;
}
.card__like:hover {
  opacity: 0.5;
}
.card__like_active {
  background-image: url(../images/like-icon.png);
  width: 100%;
  max-width: 21.5px;
  height: 100%;
  max-height: 19px;
}
.card__counter {
  text-align: center;
  line-height: 15.73px;
  margin-top: 3px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 13px;
}
